.password{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.password li.invalid::before{
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 10px;
  background: #ff6700;
}

.password li.valid::before{
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 10px;
  background: #bdbbb9;
}

.password li.valid {
  color: #bdbbb9;
}