.reset-password-background{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;
  background: url('../../assets/background.svg') no-repeat center center/cover;
}

.reset-password-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 561px;
}